
$topbarHeight: 60px;
$topbarMenuSize: 30px;

$sidebarWidth: 260px;
$sidebarAnimationTime: 0.5s;
$sidebarAffixWidth: 25px;
$sidebarAffixHeight: 60px;

$deviceMaxWidth: 980px;

@import './alert.scss';
@import './common.scss';
@import './topbar.scss';
@import './sidebar.scss';

body {
  margin: 0;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  #app {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
}

.ci-topbar {
  flex: 0 0 $topbarHeight;
  a {
    text-decoration:none;
  }
  .topbar-menu {
    display: none;
  }
}
.ci-container {
  display: flex;
  flex: 1;
  .ci-sidebar {
    flex: 0 0 $sidebarWidth;
    order: -1;
    a {
      text-decoration:none;
    }
  }
  .ci-content {
    flex: 1;
    overflow: hidden;
  }
}

@media (max-width: $deviceMaxWidth) {
  .ci-container {
    flex: 1;
    transform: translate(-$sidebarWidth, 0);
    transition: all $sidebarAnimationTime;
    .ci-content {
      flex: 1 0 100vw;
      transition: all $sidebarAnimationTime;
    }
  }
  .ci-topbar {
    .topbar-menu {
      display: block;
      float: right;
    }
  }
  .ci-sidebar {
    .menu-affix {
      background-image: url(../image/sidebar-menu.png);
      background-size:auto;
      background-repeat: no-repeat;
      width: $sidebarAffixWidth;
      height: $sidebarAffixHeight;
      position: absolute;
      top: calc((100vh - #{$topbarHeight}) / 2);
      right: -$sidebarAffixWidth;
      z-index: 1051;
    }
  }
}

.pull-sidebar {
  flex: auto;
  transform: translate(-$sidebarWidth, 0);
  .ci-content {
    flex: 1 0 100vw;
  }
  .menu-affix {
    right: -$sidebarAffixWidth;
    transition: all $sidebarAnimationTime;
  }
}

.pull-sidebar-back {
  flex: auto;
  transform: translate(0, 0);
  transition: all $sidebarAnimationTime;
  .menu-affix {
    transform: rotateY(180deg);
    right: 0;
    transition: all $sidebarAnimationTime;
  }
}
